<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @idate.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idate.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @idate.start_date %>
</p>

<p>
  <strong>Ending date:</strong>
  <%= @idate.ending_date %>
</p>

<%= link_to 'Edit', edit_idate_path(@idate) %> |
<%= link_to 'Back', idates_path %>
